# 去重

In [1]:
from pandas import DataFrame, merge

In [2]:
df = DataFrame({'City': ['Maoming', 'Maoming', 'Maoming', 'Zhanjiang', 'Maoming'], 
                'Hospital': ['People\'s Hospital', 'Traditional Medicine Hospital', 'Central Hospital', 'People\'s Central Hospital', 'People\'s Hospital'],
                'Department': ['Respiratory', 'Critical Care Medicine', 'Respiratory', 'Respiratory', 'Respiratory']})

In [3]:
df

        City                       Hospital              Department
0    Maoming              People's Hospital             Respiratory
1    Maoming  Traditional Medicine Hospital  Critical Care Medicine
2    Maoming               Central Hospital             Respiratory
3  Zhanjiang      People's Central Hospital             Respiratory
4    Maoming              People's Hospital             Respiratory

## 默认参数  
+ 所有列的值均相同才算作重复
+ 保存第一个重复值
+ 不改变原来数据框

In [4]:
df.drop_duplicates()

        City                       Hospital              Department
0    Maoming              People's Hospital             Respiratory
1    Maoming  Traditional Medicine Hospital  Critical Care Medicine
2    Maoming               Central Hospital             Respiratory
3  Zhanjiang      People's Central Hospital             Respiratory

In [5]:
df

        City                       Hospital              Department
0    Maoming              People's Hospital             Respiratory
1    Maoming  Traditional Medicine Hospital  Critical Care Medicine
2    Maoming               Central Hospital             Respiratory
3  Zhanjiang      People's Central Hospital             Respiratory
4    Maoming              People's Hospital             Respiratory

## keep参数
keep的取值有三个，分别是 first、last、False
+ keep='first'时，保留相同数据的第一条。
+ keep='last'时，保存相同数据的最后一条。
+ keep=False时，所有相同的数据都不保留。

In [6]:
df.drop_duplicates(keep='last')

        City                       Hospital              Department
1    Maoming  Traditional Medicine Hospital  Critical Care Medicine
2    Maoming               Central Hospital             Respiratory
3  Zhanjiang      People's Central Hospital             Respiratory
4    Maoming              People's Hospital             Respiratory

In [7]:
df.drop_duplicates(keep=False)

        City                       Hospital              Department
1    Maoming  Traditional Medicine Hospital  Critical Care Medicine
2    Maoming               Central Hospital             Respiratory
3  Zhanjiang      People's Central Hospital             Respiratory

## subset参数
subset参数是一个元素为列名的列表，表示列名的值相同就可被判定为重复的数据。如City和Hospital相同则判定为重复值，则可以这样写：

In [8]:
df.drop_duplicates(subset=['City', 'Hospital'])

        City                       Hospital              Department
0    Maoming              People's Hospital             Respiratory
1    Maoming  Traditional Medicine Hospital  Critical Care Medicine
2    Maoming               Central Hospital             Respiratory
3  Zhanjiang      People's Central Hospital             Respiratory

若Hospital与Department相同则为重复值的话，则可以这样去重：

In [9]:
df.drop_duplicates(subset=['Hospital', 'Department'])

        City                       Hospital              Department
0    Maoming              People's Hospital             Respiratory
1    Maoming  Traditional Medicine Hospital  Critical Care Medicine
2    Maoming               Central Hospital             Respiratory
3  Zhanjiang      People's Central Hospital             Respiratory

## inplace参数

`inplace=True`时，会对原数据进行修改。否则，只返回视图，不对原数据修改。

In [10]:
df.drop_duplicates(inplace=False)

        City                       Hospital              Department
0    Maoming              People's Hospital             Respiratory
1    Maoming  Traditional Medicine Hospital  Critical Care Medicine
2    Maoming               Central Hospital             Respiratory
3  Zhanjiang      People's Central Hospital             Respiratory

In [11]:
df

        City                       Hospital              Department
0    Maoming              People's Hospital             Respiratory
1    Maoming  Traditional Medicine Hospital  Critical Care Medicine
2    Maoming               Central Hospital             Respiratory
3  Zhanjiang      People's Central Hospital             Respiratory
4    Maoming              People's Hospital             Respiratory

In [12]:
df.drop_duplicates(inplace=True)

In [13]:
df

        City                       Hospital              Department
0    Maoming              People's Hospital             Respiratory
1    Maoming  Traditional Medicine Hospital  Critical Care Medicine
2    Maoming               Central Hospital             Respiratory
3  Zhanjiang      People's Central Hospital             Respiratory